<template>
  <v-container v-if="userInfo" grid-list-md class="ma-0">
    <amplify-connect
      :query="emailsQuery"
      :subscription="emailsSubscription"
      :onSubscriptionMsg="onSubscriptionMsg"
    >
      <template slot-scope="{loading, data, errors}">
        <div v-if="loading">Loading...</div>

        <div v-else-if="errors.length > 0">ERROR</div>

        <div v-else-if="data">
          <v-card v-for="email in data.listEmails.items" :key="email.id" height="50px" class="mb-2">
            <v-layout row align-center fill-height class="pa-1">
              <v-flex xs4>{{ email.subject }}</v-flex>
              <v-flex xs4>{{ email.toList.join() }}</v-flex>
              <v-flex xs4>{{ getDisplayDate(email.sendDate) }}</v-flex>
            </v-layout>
          </v-card>
        </div>
      </template>
    </amplify-connect>
  </v-container>
</template>
<script lang="ts" src="./History.ts" />