<template>
  <v-container>
    <v-layout row justify-center>

    <amplify-authenticator class="justify-center" :authConfig="authConfig"></amplify-authenticator>
    </v-layout>
  </v-container>
</template>
<script lang="ts" src="./Login.ts" />