<template>
  <v-container fluid fill-height>
    <v-layout row fill-height>
      <v-card>
        <v-navigation-drawer class="primary" dark permanent>
          <v-list>

            <v-list-tile @click="$router.push({name: 'History'})">
              <v-list-tile-action>
                <v-icon>dashboard</v-icon>
              </v-list-tile-action>
              <v-list-tile-content>
                <v-list-tile-title>History</v-list-tile-title>
              </v-list-tile-content>
            </v-list-tile>

            <v-list-tile @click="$router.push({name: 'NewEmail'})">
              <v-list-tile-action>
                <v-icon>email</v-icon>
              </v-list-tile-action>
              <v-list-tile-content>
                <v-list-tile-title>New Email</v-list-tile-title>
              </v-list-tile-content>
            </v-list-tile>

            <v-list-tile @click="signOut">
              <v-list-tile-action>
                <v-icon>exit_to_app</v-icon>
              </v-list-tile-action>
              <v-list-tile-content>
                <v-list-tile-title>Sign Out</v-list-tile-title>
              </v-list-tile-content>
            </v-list-tile>

          </v-list>
        </v-navigation-drawer>
      </v-card>
      <router-view/>
    </v-layout>
  </v-container>
</template>
<script lang="ts" src="./MainFrame.ts" />