<template>
  <v-container class="ma-0" style="max-height: 100%; overflow: auto;">
    <v-layout column>
      <v-text-field v-model="to" label="To"></v-text-field>
      <v-text-field v-model="subject" label="Subject"></v-text-field>
      <textarea v-model="rawBody" style="height: 250px;width: 100%;border: 1px solid #ff9907"></textarea>
    </v-layout>
    <v-layout justify-center class="mt-2 mb-2">
      <v-btn :disabled="userInfo === null || to === ''" color="primary" @click="sendMarkdownEmail">SEND</v-btn>
    </v-layout>
    <vue-markdown
      :source="rawBody"
      @rendered="updateHtmlBody"
      style="height: 400px;overflow-y: auto;box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.2);"
    ></vue-markdown>
  </v-container>
</template>
<script lang="ts" src="./NewEmail.ts" />