<template>
  <div class="hello">
    <amplify-authenticator :authConfig="authConfig"></amplify-authenticator>
    <amplify-sign-out></amplify-sign-out>
    <button @click="sendMarkdownEmail">send</button>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import { Auth, API, graphqlOperation } from 'aws-amplify';
import { ListEmailsQuery } from '@/EmailGQL';
import { listEmails } from '@/graphql/queries';
import { GraphQLResult } from '@aws-amplify/api/lib/types';
import { CognitoUser } from '@aws-amplify/auth';
import { AmplifyEventBus } from 'aws-amplify-vue';
import { AuthStateType } from '@/interfaces/AuthStateType';
import TypeGuards from '@/TypeGuards';

@Component
export default class HelloWorld extends Vue {
  @Prop() private msg!: string;
  private emailList: ListEmailsQuery = {listEmails: null};

  private authConfig = {
    signUpConfig: {
      hiddenDefaults: ['phone_number'],
      signUpFields: [
        {
          label: 'Name',
          key: 'name',
          required: true,
          displayOrder: '0',
          type: 'string',
        },
      ],
    },
  };

  private async mounted() {
    const currentUser: CognitoUser = await Auth.currentAuthenticatedUser();
    const qEmailList = await API.graphql(
      graphqlOperation(listEmails, {filter: {username: {eq: currentUser.getUsername()}}})
    );
    if ('data' in qEmailList && TypeGuards.isListEmailsQuery(qEmailList.data)) {
      console.log(qEmailList);
      this.emailList.listEmails = qEmailList.data.listEmails;
    }
    AmplifyEventBus.$on('authState', (info: AuthStateType) => {
      if (info === 'signedIn') {
        console.log(`Here is the auth event that was just emitted by an Amplify component: ${info}`);
      }
    });
  }

  private sendMarkdownEmail() {
    API.get('SendMarkdownEmailApi', '/send', null).then((res) => {
      console.log(res);
    }).catch((err) => {
      console.log(err);
    });
  }

}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
